	// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks

$font-url--cabin: 'http://fonts.googleapis.com/css?family=Cabin:400,600,700,400italic,600italic,700italic';
$font-url--gentium: 'http://fonts.googleapis.com/css?family=Gentium+Basic:400,400italic';

$font-family--primary    : 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary  : 'Gentium Basic', Georgia, Serif;
$heading-font: $font-family--primary;


// Font Weights

$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--medium: 400;
$font-weight--bold: 700;
$font-weight--ultra-bold: 900;

$letter-space: 1px;

// Descriptive Base Colors

$white     : #fff;
$black     : #0b0b0b;
$grey      : #797e83;

//color palette modifiers
//dual Nested array
$palettes: (

	grey: (
		xx-light: lighten($grey,43%),
		x-light: lighten($grey,35%),
		light: lighten($grey,12%),
		base: $grey,
		dark: darken($grey, 8%),
		x-dark: darken($grey, 16%)
		),
	black:(
		light: lighten($black, 10%),
		base: $black,
		dark: darken($black, 10%)
		)

	);

$cinnabar          : #ea492c;//standard
$boston-blue       : #3694b7;//success
$curious-blue      : #2894d8;//erros
$fiord             : #3b5568;//warnings
$hippie-blue       : #6694b4;//info
$elephant		   : #143446;

// Color Usage

$primary-color     : $cinnabar;
$secondary-color   : $fiord;
$third-color       : $boston-blue;
$quote-color       : $curious-blue;
$h2-blue		   : $hippie-blue;
$link-hover        : palettes(grey);

$shadow-color      : rgba($black, .2);



// //color map
// //single nested array
// $ui-colors:(
// 	default: $fountain-blue,
// 	success: $emerald,
// 	error: $sunglo,
// 	warning: $coral,
// 	info: $purple
// 	);

// // Text

$base__font-size: 14px; //was 16
$base__line: 21px; //was 24

// // Border radius

// $br--default     : .4em;
// $br--round       : 50%;

// // Transitions

// $trns-duration   : .3s;

// //Set path for image asset
$path--rel     : "../images";


// //grid

// $g-col-width    : 65px;
// $g-gutter-width : 20px;
// $g-col-count    : 12;
// $g-cont-max-w   : 1050px;

// //breakpoints

// $small: 1px;
// $medium: 768px;
// $large: 1100px;