// ==========================================================================
// Buttons
// 
// ==========================================================================

%btn{
	display:inline-block;
	padding: 0 1em;
	font-family:$heading-font;
	-webkit-font-smoothing: antialiased;

	@include gradient-vertical($primary-color, darken($primary-color, 5%));
	@include round(3px);
	@include box-shadow(0 0 0 4px palette(grey,xx-light), inset 0 1px 2px palette(grey,xx-light));

	border: 1px solid darken($cinnabar, 5%);
	text-transform: uppercase;
	color:$white;
	&:hover{
		color:$white;
		@include gradient-vertical(lighten($primary-color, 5%), $primary-color);
	}
	&:active{
		color:$white;
		@include gradient-vertical($primary-color,lighten($primary-color, 5%));
		@include box-shadow(0 0 0 4px palette(grey,xx-light), inset 0 1px 5px darken($primary-color,15%));
	}
	&:visited{
		color:$white;
		text-decoration: none;
		@include box-shadow(0 0 0 4px palette(grey,xx-light), inset 0 1px 2px palette(grey,xx-light));
	}
	&:focus{
		text-decoration: none;
		outline:none;
	}

}

.logo__container--mobile{
	
	@include mq(x-small){
		width:100%;
		text-align: center;
		float:none;

		}

}


.btn{

	@include e(start){
		@extend %btn;
		margin-top:em(10.5px);
		height:em(42px);
		line-height:em(42px);
		font-weight:bold;
		float:right;

		@include mq(x-small){
			float:none;
		}


	}

	@include e(form){
		@extend %btn;
		height:em(42px);
		line-height:em(42px);
		font-size: em(14px);
		font-weight:bold;

		@include mq(x-small){
			display: none;
		}
	}

}


.slick-prev, .slick-next { 

	position: relative;
	display: inline-block !important; 
	height: 42px; 
	width: 42px; 
	line-height: 0; 
	font-size: 0; 
	cursor: pointer; 
	background: transparent; 
	color: $cinnabar ; 
	//margin-top: -10px; 
	padding: 0; 
	border: none; 
	outline: none;
	background: url('../images/sprites.png');
	margin-top:30px;

	@include mq(small){
		display: block !important; 
		position: absolute; 
		top: 40%; 
	}
}

.slick-prev{

		background-position:0px -128px;
		//margin-left: 20px; 

	@include mq(small){
		
		left:-13%; 
	}
	
}

.slick-next{

		background-position:-64px -128px;
		margin-left: 20px; 

	@include mq(small){
		
		right:-13%;
	}
}






