// ==========================================================================
// Description Section
// ==========================================================================

.section__desc{
	background: url("../images/pattern-black.jpg");
	text-align:center;
	padding:em(60px) 0 ;
	@include clearfix;

	h1{
		font-size: em(36px);
		color: $white;
		line-height: 84px;
	}
}

.desc__list{
	margin:em(64px) 0 em(4px) 0;
	color:$white;
	@include clearfix;

	li{
	text-align: left;
	margin-bottom: em(46px);
	}

	span{
		float:left;
	}

	p,h3{
	margin-left:63px;
	margin-bottom: 10px;
	}
}